body{
    min-width: 1620px;
    min-height: 7000px;
    background-color:#868686

}
main {
    font: normal 18px Arial, sans-serif;
    width: 1600px;
    background-color: #fff;
    margin: 0 auto;
}


header {
    min-height:1000px;
    background: url(img/smile_1.gif) no-repeat;

}

.btn {
    text-decoration: none;

}

.header_top {
    padding-top: 51px;
    padding-left: 199px;
}
.header_top li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.logo {
    background-color: #000;
    font:30px "Montserrat", sans-serif;
    color: #fff;
    padding: 29px 22px 25px 22px;
}


h1 {
    font: 220px "Raleway", sans-serif;
    font-weight: 200;
    letter-spacing: 20px;
    line-height: 70px;
    text-transform: uppercase;
    display: block;
    width: 712px;
    margin-top: 100px;
    margin-left: 707px;
}
h1 span {
    font: bold 64px "Raleway", sans-serif;
    text-transform: none;
    letter-spacing: 5px;
}


.btn_menu {
    font: 15px "Montserrat", sans-serif;
    color:#fff;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    text-transform: uppercase;
    padding: 9px 0;
    margin-left: 950px;
}
.header_top li:nth-child(2){
    padding-top: 20px;
}

